<h1>NeWs</h1>
<br />
<h3>@ 9 Carat Blue Diamond Discovered in Botswana<h3>
<h3>@ New York City Jeweler Fassbinder Returns With a Holiday Season Pop-Up Shop<h3>
<h3>@ What’s Selling in Stores: Women’s Watches<h3>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


